<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">

  <body>
    <nav class ="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index">YelpCamp</a>
            <button class="navbar-toggler"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% if(!currentuser){ %>
                <li class="nav-item "><a class="nav-link" href="/login">Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
              <% }else{ %>
                <li class="nav-item"><a href="#">Hi, <%= currentuser.username %></a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">log out</a></li>
              <% } %>
            </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
          <h4><%= error %></h4>
        </div>
    <% } %>
      <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
          <h4><%= success %></h4>
        </div>
      <% } %>
    </div>
