<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID ESSENTIALS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="<link href="
        https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">"
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="upar">
        <div class="header">
            <div class="upper">
                <div class="logo">
                    <img src="c-images/photo_2021-05-04.png" alt="">
                </div>

                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="Product.html">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="https://www.instagram.com">Contact</a></li>
                        <li><a href="signup.html">Sign up</a></li>
                        <li><a href="login.html">Log in</a></li>
                    </ul>
                </nav>

            </div>

            <div class="row">
                <div class="col-2">
                    <h1>Lorem ipsum dolor sit amet consectetur <br>adipisicing elit. Vitae, neque, facere asperiores.
                    </h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quod odit, dolore id
                        recusandae nisi, quaerat fuga libero saepe minima, iusto itaque. Assumenda laudantium odio
                        eveniet iusto est nihil accusantium.
                    </p>
                    <button>Explore now &#x21e2;</button>
                </div>
                <div class="col-2">
                    <img src="c-images/maskman2.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- featured categories -->

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="c-images/photo_2021-05-05_23-41-37.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="c-images/hs.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="c-images/ppe.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- featured products -->
    
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="c-images/oximeter.jpg" alt="">
                <h4>Oximeter</h4>
                <p>&#x20B9; 1800/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/nebuliser.jpg" alt="">
                <h4>Nebulizer</h4>
                <p>&#x20B9; 4000/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/steamer.jpg" alt="">
                <h4>Steamer</h4>
                <p>&#x20B9; 550/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/shield.jpg" alt="">
                <h4>Face Shield</h4>
                <p>&#x20B9; 250/-</p>
            </div>
        </div>
    </div>

    <!-- testimonial part -->

    <div class="feedback">
        <h2>Customer Feedback</h2>
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos modi corporis ea reiciendis,
                        eligendi laborum nemo maiores veniam aperiam, eius odit </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="c-images/Snapchat-635138505.png">
                    <h3>Kumar Lakshya</h3>
                </div>

                <div class="col-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos modi corporis ea reiciendis,
                        eligendi laborum nemo maiores veniam aperiam, eius odit </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="c-images/download11111.png">
                    <h3>Tony Stark</h3>
                </div>

                <div class="col-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos modi corporis ea reiciendis,
                        eligendi laborum nemo maiores veniam aperiam, eius odit </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="c-images/images.jfif">
                    <h3>Steve Rogers</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="foot1">
                    <h3>Download our App</h3>
                    <p>App available on IOS and ANDROID</p>
                    <div class="app-logo">
                        <img src="images/play-store.png" alt="">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="foot2">
                    <img src="c-images/photo_2021-05-04.png">
                    <p>Our motive is to make people stay at home and stay safe </p>
                </div>
                <div class="foot3">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/">Facebook</a></li>
                        <li><a href="https://www.instagram.com">Instagram</a></li>
                        <li><a href="https://www.twitter.com">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="cr">Copyright - 2021 and Developed by Kumar Lakshya</p>
        </div>
    </div>

</body>

</html>