<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Details </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="<link href="
        https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">"
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="upar">
        <div class="header">
            <div class="upper">
                <div class="logo">
                    <img src="c-images/photo_2021-05-04.png" alt="">
                </div>

                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="Product.html">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="account.html">Sign Up</a></li>
                        <li><a href="account.html">Log In</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

    <!-- single product details -->

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="c-images/ppe.jpg" width="100%" id="pdi">

                <div class="small-row">
                    <div class="small-col">
                        <img src="c-images/oximeter.jpg" width="100%" class="smallimg">
                    </div>
                    <div class="small-col">
                        <img src="c-images/shield.jpg" width="100%" class="smallimg">
                    </div>
                    <div class="small-col">
                        <img src="c-images/steamer.jpg" width="100%" class="smallimg">
                    </div>
                    <div class="small-col">
                        <img src="c-images/gloves.jpg" width="100%" class="smallimg">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>Home/PPE Kits</p>
                <h1>PPE Kit with gears</h1>
                <h4>&#x20B9; 900/-</h4>
                <select name="" id="">
                    <option value=""> Select size</option>
                    <option>XXL</option>
                    <option>XL</option>
                    <option>medium</option>
                </select>
                <input type="number" value="1"><br>
                <button>Add to Cart</button>
                <button>Buy now!</button>

                <h3>Product details</h3>
                <p>Prifix PPE Safety Kit for Full Body Protection- Non-Suffocating+Comfortable For Travelling- 95 GSM- Polyproplyene material White (1 Pc) </p>
            </div>
        </div>
    </div>

    <!-- title -->

    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View more</p>
        </div>
    </div>

    <!-- products -->

    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="c-images/ppe.jpg" alt="">
                <h4>PPE Kit</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/gloves.jpg" alt="">
                <h4>Gloves</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/oximeter.jpg" alt="">
                <h4>Oximeter</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/shield.jpg" alt="">
                <h4>Face Shield</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/oximeter.jpg" alt="">
                <h4>Oximeter</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/steamer.jpg" alt="">
                <h4>Steamer</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/ppe.jpg" alt="">
                <h4>PPE Kit</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/gloves.jpg" alt="">
                <h4>Gloves</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/oximeter.jpg" alt="">
                <h4>Oximeter</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/shield.jpg" alt="">
                <h4>Face Shield</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/oximeter.jpg" alt="">
                <h4>Oximeter</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/steamer.jpg" alt="">
                <h4>Steamer</h4>
                <p>&#x20B9; 250/-</p>
            </div>
        </div>
    </div>

    <!-- footer -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="foot1">
                    <h3>Download our App</h3>
                    <p>App available on IOS and ANDROID</p>
                    <div class="app-logo">
                        <img src="images/play-store.png" alt="">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="foot2">
                    <img src="c-images/photo_2021-05-04.png">
                    <p>Our motive is to make people stay at home and stay safe </p>
                </div>
                <div class="foot3">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/">Facebook</a></li>
                        <li><a href="https://www.instagram.com">Instagram</a></li>
                        <li><a href="https://www.twitter.com">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="cr">Copyright - 2021 and Developed by Kumar Lakshya</p>
        </div>
    </div>

    <!--js script -->

    <script>
        var pdi = document.getElementById("pdi");
        var smallimg = document.getElementsByClassName("smallimg");

        smallimg[0].onclick = function () {
            pdi.src = smallimg[0].src;
        }
        smallimg[1].onclick = function () {
            pdi.src = smallimg[1].src;
        }
        smallimg[2].onclick = function () {
            pdi.src = smallimg[2].src;
        }
        smallimg[3].onclick = function () {
            pdi.src = smallimg[3].src;
        }
    </script>

</body>

</html>