<!-- footer -->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="foot1">
                <h3>Download our App</h3>
                <p>App available on IOS and ANDROID</p>
                <div class="app-logo">
                    <img src="c-images/play-store.png" alt="">
                    <img src="c-images/app-store.png">
                </div>
            </div>
            <div class="foot2">
                <img src="c-images/photo_2021-05-04.png">
                <p>Our motive is to make people stay at home and stay safe </p>
            </div>
            <div class="foot3">
                <h3>Follow us</h3>
                <ul>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://www.instagram.com">Instagram</a></li>
                    <li><a href="https://www.twitter.com">Twitter</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="cr">Copyright - 2021 and Developed by Kumar Lakshya</p>
    </div>
</div>

</body>

</html>