<%- include ('./partials/header') %>

    <div class="upar">
        <div class="header">
            <div class="upper">
                <div class="logo">
                    <img src="c-images/photo_2021-05-04.png" alt="">
                </div>

                <nav>
                    <ul>
                        <% if(!currentuser){ %>
                            <li class="nav-item "><a class="nav-link" href="/login">Log In</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                          <% }else{ %>
                            <li class="nav-item"><a href="#">Hi, <%= currentuser.username %></a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">log out</a></li>
                          <% } %>
                        <li><a href="/product">Products</a></li>
                        <li><a href="https://www.google.com">About</a></li>
                        <li><a href="https://www.instagram.com">Contact</a></li>
                    </ul>
                </nav>
            </div>

            <div class="row">
                <div class="col-2">
                    <h1>Lorem ipsum dolor sit amet consectetur <br>adipisicing elit. Vitae, neque, facere asperiores.
                    </h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quod odit, dolore id
                        recusandae nisi, quaerat fuga libero saepe minima, iusto itaque. Assumenda laudantium odio
                        eveniet iusto est nihil accusantium.
                    </p>
                    <button id="home">Explore now &#x21e2;</button>
                </div>
                <div class="col-2">
                    <img src="c-images/maskman2.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- featured categories -->

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="c-images/photo_2021-05-05_23-41-37.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="c-images/hs.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="c-images/ppe.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


    <!-- featured products -->
    
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="c-images/oximeter.jpg" alt="">
                <h4>Oximeter</h4>
                <p>&#x20B9; 1800/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/nebuliser.jpg" alt="">
                <h4>Nebulizer</h4>
                <p>&#x20B9; 4000/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/steamer.jpg" alt="">
                <h4>Steamer</h4>
                <p>&#x20B9; 550/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/shield.jpg" alt="">
                <h4>Face Shield</h4>
                <p>&#x20B9; 250/-</p>
            </div>
        </div>
    </div>

    <!-- testimonial part -->

    <div class="feedback">
        <h2>Customer Feedback</h2>
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos modi corporis ea reiciendis,
                        eligendi laborum nemo maiores veniam aperiam, eius odit </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="c-images/Snapchat-635138505.png">
                    <h3>Kumar Lakshya</h3>
                </div>

                <div class="col-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos modi corporis ea reiciendis,
                        eligendi laborum nemo maiores veniam aperiam, eius odit </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="c-images/download11111.png">
                    <h3>Tony Stark</h3>
                </div>

                <div class="col-3">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos modi corporis ea reiciendis,
                        eligendi laborum nemo maiores veniam aperiam, eius odit </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="c-images/images.jfif">
                    <h3>Steve Rogers</h3>
                </div>
            </div>
        </div>
    </div>

<%- include ('./partials/footer') %>
