<%- include ('./partials/header') %>

    <!-- account page -->

    <div class="card">

        <form action="/login" method="POST">
            <h2 class="title"> Log in</h2>
            <p class="subtitle">Don't have an account? <a href="#">Sign Up</a></p>

            <div class="social-login">
                <button class="google-btn"><a href="https://www.gmail.com">Google
                        <i class="fa fa-google"></i>
                    </a>
                </button>

                <button class="fb-btn"><a href="https://www.facebook.com"> Facebook
                        <i class="fa fa-facebook"></i>
                    </a>
                </button>
            </div>

            <p class="or"><span>or</span></p>

            <div class="email-login">
                <label for="email"> <b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="username" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <button type= "submit" class="cta-btn">Log In</button>
            <a class="forget-pass" href="#">Forgot password?</a>
        </form>
    </div>


    <%- include ('./partials/footer') %>