<%- include ('./partials/header') %>

    <div class="upar">
        <div class="header">
            <div class="upper">
                <div class="logo">
                    <img src="c-images/photo_2021-05-04.png" alt="">
                </div>

                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="Product.html">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="product_details.html">Contact</a></li>
                        <li><a href="account.html">Sign Up</a></li>
                        <li><a href="account.html">Log in</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>


    <div class="small-container">
        <div class=rowan>
            <h2>All Essential Products</h2>
            <select>
                <option>Default</option>
                <option>Price</option>
                <option>Popularity</option>
                <option>Rating</option>
            </select>
        </div>

        <div class="row">
            <div class="col-4">
                <img src="c-images/nebuliser.jpg" alt="">
                <h4>Nebuliser</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/oximeter.jpg" alt="">
                <h4>Oximeter</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <a href="product_details.html"></a>
                <img src="c-images/ppe.jpg" alt="">
                <h4>PPE Kit</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/gloves.jpg" alt="">
                <h4>Gloves</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/steamer.jpg" alt="">
                <h4>Steamer</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/shield.jpg" alt="">
                <h4>Shield</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/gloves.jpg" alt="">
                <h4>Gloves</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/oximeter.jpg" alt="">
                <h4>Oximeter</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/nebuliser.jpg" alt="">
                <h4>Nebuliser</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/ppe.jpg" alt="">
                <h4>PPE kit</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/gloves.jpg" alt="">
                <h4>Gloves</h4>
                <p>&#x20B9; 250/-</p>
            </div>
            <div class="col-4">
                <img src="c-images/shield.jpg" alt="">
                <h4>Shield</h4>
                <p>&#x20B9; 250/-</p>
            </div>
        </div>
    </div>

    <%- include ('./partials/footer') %>