<%- include('partials/header.ejs') %>


<h1>you made it to the registration page</h1>

<form class="" action="/register" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Submit!</button>
</form>

<%- include('partials/footer.ejs') %>
